@charset "UTF-8";

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #78b3a4;
}
nav {
    width: 900px;
    border: 2px groove var(--nessa3);
    margin: auto ;
    padding: 12px;
    background-color: #2b2318;

}

nav > a {

    margin: 10px;
    text-decoration: none;
}

nav > a:hover {

    transition-duration: 2s;
    background-color: #268646;
    color: #2b2318
}

main{
    width: 700px;
    margin: auto;
    border: 2px groove var(--preta);
    padding: 12px;
    box-shadow: 25px 25px 25px #524835;
    margin-bottom: 15px;
}
.video{
    margin: auto;
    width: 700px ;
}

p {
    color: #2b2318;
    padding-bottom: 20px;
    line-height: 1.1em;
    text-align: justify;
    text-indent: 15px;
}

ol {
    margin: 10px;
    padding: 10px;
}

ul {
    background-color: #56704b;
    margin: 10px;
    padding: 10px;
}

li {
    color: #2b2318;
    margin: 10px;
    padding: 5px;
}

h1 {
    color: #2b2318;
    background-color: #5d9e7e;
    padding: 10px;
}

h2 {
    color: #2b2318;
    background-color: #5d9e7e;
    padding: 10px;
}

h3 {
    color: #2b2318;
    background-color: #5d9e7e;
    padding: 10px;
}

a {
    color: #5d9e7e;
}

:root {

    --nessa1: #2b2318;
    --nessa2: #524835;
    --nessa3: #56704b;
    --nessa4: #5d9e7e;
    --nessa5: #78b3a4;
        
}